<a href="https://colab.research.google.com/github/rajshreeathawale/BigData_Project/blob/main/MainProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Main Project(BigData)

In [1]:
import pandas as pd

In [8]:
df=pd.read_csv("World energy consumption.csv")
df.head(250)

,country,coal_consumption,coal_electricity,coal_production,electricity_generation,fossil_fuel_consumption,gas_consumption,gas_production,oil_consumption,oil_electricity,greenhouse_gas_emissions
0,ASEAN,NaN,71.03,NaN,368.65,NaN,NaN,NaN,NaN,61.50,184.41
1,ASEAN,NaN,80.02,NaN,397.19,NaN,NaN,NaN,NaN,55.14,198.34
2,ASEAN,NaN,87.16,NaN,422.82,NaN,NaN,NaN,NaN,56.15,213.80
3,ASEAN,NaN,98.51,NaN,447.15,NaN,NaN,NaN,NaN,56.01,229.70
4,ASEAN,NaN,111.62,NaN,484.94,NaN,NaN,NaN,NaN,58.33,252.61
...,...,...,...,...,...,...,...,...,...,...,...
245,Africa,963.730,194.63,1518.354,420.55,2928.547,556.822,1351.012,1407.994,45.82,238.06
246,Africa,975.926,199.22,1514.537,437.26,3033.457,634.636,1388.413,1422.895,46.61,245.79
247,Africa,934.422,205.16,1489.183,462.34,3061.847,670.636,1449.319,1456.789,46.38,258.37
248,Africa,1017.048,219.97,1600.220,485.21,3229.692,711.536,1556.181,1501.107,48.35,275.19
249,Africa,1119.162,229.76,1635.615,515.27,3473.607,783.106,1635.733,1571.339,46.17,289.47

In [9]:
# Handle missing values
df.fillna(df.mean(), inplace=True)

<ipython-input-9-215a67fbbad9>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [10]:
df.describe()

,coal_consumption,coal_electricity,coal_production,electricity_generation,fossil_fuel_consumption,gas_consumption,gas_production,oil_consumption,oil_electricity,greenhouse_gas_emissions
count,22012.000000,22012.000000,22012.000000,22012.000000,22012.000000,22012.000000,22012.000000,22012.000000,22012.000000,22012.000000
mean,1880.502099,325.682578,969.427817,769.798199,6403.128491,1478.561465,612.403733,2442.659362,47.926815,287.472339
std,2623.840287,606.565059,2986.846647,1448.510213,7242.855029,1821.565678,2061.916115,3124.037406,76.686861,575.326821
min,0.000000,0.000000,0.000000,0.000000,11.569000,0.000000,0.000000,0.097000,0.000000,0.000000
25%,1880.502099,205.160000,0.000000,180.517500,6403.128491,1478.561465,0.000000,2442.659362,47.926815,287.472339
50%,1880.502099,325.682578,25.485500,769.798199,6403.128491,1478.561465,8.545500,2442.659362,47.926815,287.472339
75%,1880.502099,325.682578,969.427817,769.798199,6403.128491,1478.561465,612.403733,2442.659362,47.926815,287.472339
max,44858.121000,10190.710000,48490.000000,28527.760000,137236.672000,40670.660000,40534.203000,53512.844000,1364.684000,12447.700000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22012 entries, 0 to 22011
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   22012 non-null  object
 1   coal_consumption          22012 non-null  float64
 2   coal_electricity          22012 non-null  float64
 3   coal_production           22012 non-null  float64
 4   electricity_generation    22012 non-null  float64
 5   fossil_fuel_consumption   22012 non-null  float64
 6   gas_consumption           22012 non-null  float64
 7   gas_production            22012 non-null  float64
 8   oil_consumption           22012 non-null  float64
 9   oil_electricity           22012 non-null  float64
 10  greenhouse_gas_emissions  22012 non-null  float64
dtypes: float64(10), object(1)
memory usage: 1.8+ MB

In [ ]:
df.to_csv("C:\\Users\\Dell\\OneDrive\\Desktop\\World_EnergyConsumption.csv",index=False)